form.defaultForm.tutorialForm(action=(tutorial._id ? tutorial.webUrl : '/tutorials') method="post" name="tutorial")
  .field
    input(type="text" name="title" placeholder="Title" value=tutorial.title required autofocus)
  
  .field
    input(type="url" name="sourceUrl" placeholder="Source URL" value=tutorial.sourceUrl)
  
  .field
    textarea(name="content" placeholder="Content")= tutorial.content
    
  .field
    select.js-default-select(name="languages[]" multiple placeholder="Specify the programming languages")
      if languages
        each language in languages
          option(value=language.name )= language.name

  .field
    select.js-default-select(name="platforms[]" multiple placeholder="Select the related platforms")
      if platforms
        each platform in platforms
          option(value=platform.name )= platform.name

  .field    
    select(name="projects[]" multiple placeholder="Specify the projects referred to in the tutorial")
      if tutorial.projects
        each project in tutorial.projects
          option(value=project selected )= project
  .field
    select(name="keywords[]" multiple placeholder="Keywords")
      
  .field.buttons
    button.btn.btn-action(type="submit" name="publish") Publish
    button.btn(type="submit" name="draft") Save draft
