
form.defaultForm.tutorialForm(action=(tutorial._id ? tutorial.webUrl : '/tutorials') method="post" name="tutorial")
  .field
    input(type="text" name="title" placeholder="Title" value=tutorial.title required autofocus autocomplete="off")
  
  .field
    input(type="url" name="sourceUrl" placeholder="Source URL" value=tutorial.sourceUrl autocomplete="off")
  
  .field
    textarea(name="content" placeholder="Content")= tutorial.content
    
  .field
    select.js-default-select(name="languages[]" multiple placeholder="Languages  ")
      if languages
        each language in languages
          option(value=language.name )= language.name

  .field    
    select(name="projects[]" multiple placeholder="Projects  ")
      if tutorial.projects
        each project in tutorial.projects
          option(value=project selected )= project
  .field
    select(name="keywords[]" multiple placeholder="Keywords")
      
  .field.buttons
    button.btn.btn-action(type="submit" name="publish") Publish
    //- button.btn(type="submit" name="draft") Save draft
