extends layout

block content
  h1 Latest tutorials:
  each tutorial in tutorials
    .tutorial
      h3
        a(href="/tutorial/"+tutorial.id)= tutorial.title

  h2 Popular projects:
  .projectsGrid
    each project in projects
      .projectItem
        h3
          a(href="/"+project.platform+"/"+project.slug)= project.name

  h2 Platforms:
  .platformsGrid
    each platform in platforms
      a.platformItem(href=`/${platform.slug}`)
        img(src=`/images/pics/${platform.slug}.png` )
        h3= platform.name
        .projectsCount 100500 projects

  h2 Languages:
  .languagesGrid
    each language in languages
      a.languageItem(href=`/language/${language.slug}`)
        img(src=`/images/pics/${language.slug}.png`)
        h3= language.name
        .projectsCount 100500 projects

