doctype html
html
  head
    title= title
    link(rel='stylesheet', href=assetPath('css/app.css'))
  body(class=env)
    .layout
      .sidebar.js-Pjax
        block sidebar
          include includes/sidebar/menu
          include includes/sidebar/search

      .content.js-Pjax

        block content

      include includes/footer
    script(src=assetPath('js/app.js'))
    script.
      // remove img with on load error
      (function(){function cb () {this.parentNode.removeChild(this)};for(var i=0,n=document.images,l=n.length;i<l;i++) n[i].onerror = cb}())
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')