.platformItem
  a(href=`/${platform.slug}`)
    img(src=`/images/pics/${platform.slug}.png` )
  h3
    a(href=`/${platform.slug}`)= platform.name
  .meta
    a(href=`/${platform.slug}`) #{platform.projectsCount} projects