.platformItem
  a(href=platform.webUrl)
    img(src=`/images/pics/${platform.name}.png` )
  h3
    a(href=platform.webUrl)= platform.name
  .meta
    a(href=platform.webUrl) #{platform.projectsCount} projects