.aboutProject
  h1= project.name
  if project.description
    .description
      p= project.description
  
  section
    .shields
      a(href='https://libtuts.com/npm/' + project.name)
        img(src='/shield' + project.webUrl + '.svg' alt="Tutorials")
      if project.platform === 'npm'
        = " "
        a(href='https://www.npmjs.org/package/' + project.name)
          img(src='http://img.shields.io/npm/v/' + project.name + '.svg' alt='NPM version')
  
    dl.meta
      if project.homepageUrl
        dt Homepage:
        dd 
          a(href=project.homepageUrl)= project.homepageUrl

      if project.repositoryUrl
        dt Repository:
        dd
          a(href=project.repositoryUrl)= project.repositoryUrl
        
      if project.packageManagerUrl
        dt Registry:
        dd
          a(href=project.packageManagerUrl)= project.packageManagerUrl

      if project.language
        dt Language:
        dd
          a(href=`/language/${project.language}`)= project.language

      if project.platform
        dt Platform:
        dd
          a(href=`/${project.platform}`)= project.platform

      
      if project.keywords
        dt Keywords:
        dd
          each keyword, index in project.keywords
            if index
              = ", "
            a(href="/search?keywords="+keyword)= keyword