.projectItem
  h3
    a(href=project.webUrl)= project.name
  .meta 
    a(href=project.webUrl title=numeral(project.tutorialsCount).format('0,0')) #{numeral(project.tutorialsCount).format('0a')} tutorials
    = " · "
    a(href=`/${project.platform}`)= project.platform
    = " · "
    a(href=`/language/${project.language}`)= project.language
    
