.projectItem
  h3
    a(href=project.webUrl)= project.name
  .meta 
    a(href=project.webUrl) #{project.tutorialsCount} tutorials
    = " · "
    a(href=`/${project.platform}`)= project.platform
    = " · "
    a(href=`/language/${project.language}`)= project.language
    
