.languageItem
  a(href=language.webUrl)
    img(src=`/images/pics/${language.name}.png`)
  h3
    a(href=language.webUrl)= language.name
  .meta
    a(href=language.webUrl title=numeral(language.tutorialsCount).format('0,0')) #{numeral(language.tutorialsCount).format('0a')} tutorials
    = " · "
    a(href=language.webUrl title=numeral(language.projectsCount).format('0,0')) #{numeral(language.projectsCount).format('0a')} projects