.languageItem
  a(href=`/language/${language.slug}`)
    img(src=`/images/pics/${language.slug}.png`)
  h3
    a(href=`/language/${language.slug}`)= language.name
  .meta
    a(href=`/language/${language.slug}`) #{language.projectsCount} projects